@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	font-family: 'Poppins', 'san serif';
}

.input {
	@apply p-4 rounded-md ml-6 mr-6;
}
.card {
	@apply flex flex-col gap-6 text-center justify-center items-center;
}
.form-container {
	@apply container w-80 pt-10 pb-10 rounded-md bg-pink-300;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.action-btn {
	@apply bg-gray-400 rounded-full hover:bg-slate-600 p-1 w-28 h-10;
}

.blue-msg {
	background-color: #4488bf;

	/* background-color: #446a97; */
	/* @apply bg-blue-600; */
}

.cream-msg {
	/* background-color: #ca9703; */
	background-color: #8b6508;
	color: white;
	/* background-color: #dce7cc; */
	/* @apply bg-gray-800; */
}
.yellow-bg {
	background-color: #f4f2c9;
}
.nav-blue-bg {
	/* background-color: #265999; */
	background-color: #000033;
}

.text-gold {
	color: #ca9703;
}
.text-light-gold {
	color: #d5ad36;
}

.yellow-text {
	color: #f4f2c9;
}
.input-gold {
	@apply focus:ring-yellow-600 focus:border-yellow-600;
}
button:disabled,
button[disabled] {
	@apply hover:bg-gray-100;
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}
